/*Added underline*/
/*Added purple shadow*/
#Header h1 {
	font-size: 60px;
	font-family: Passion One;
	color: #ffbc00;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 3px 2px purple;
}

p {
	font-weight: bold;
	color: white;
	font-family: Arial;
}

h3 {
	color: #ffbc00;
	font-size: 40px;
	font-family: Passion One;
	margin-bottom: 0px;
}
/*Changed the opacity*/
div {
	background-color: rgba(142, 65, 213, 0.6);
}

body {
	background-image: url('dark_wood.png');
}

a {
	color: white;
	font-weight: bold;
	font-size: 24px;
}
/*Made the code less redundant*/
/*Changed the border style to grooved to give it a 3D look*/
.redundant {
	border: groove 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

#Header {
	width: 500px;
}

#LeftNav {
	width: 400px;
	float: left;
	padding-bottom: 8px;
}

#Content {
	width: 700px;
	padding: 15px;
}

#Footer {
	border: groove 8px black;
	text-align: center;
	
}

ul {
	list-style-type: none;
	padding-left: 0px;
}